<div fxLayout="column">
        <div fxLayout="row" class="header-form">
            <span fxFlex>Cadastrar/Alterar Gateway</span>
            <div>
                <button mat-raised-button class="form-button bgc-grey-500 tc-grey-50" (click)="onBack()">
                    Cancelar
                </button>
                <button [disabled]="gatewayForm.invalid" mat-raised-button color="accent" class="form-button"
                    (click)="onSave()">
                    Salvar
                </button>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center start">
            <mat-card class="background-color" fxFlex="90">
                <form [formGroup]="gatewayForm" novalidate>
                    <div fxLayout="column" fxFlex=90>
    
                        <div fxLayout="column">
                            <div fxLayout="row" fxFlex=50>
                                <!--Nome-->
                                <mat-form-field fxFlex [floatLabel]="'always'">
                                    <mat-label>Identificador</mat-label>
                                    <input matInput id="identificador" formControlName="identificador" placeholder="Identificador"
                                        layout-align="center end" required>
                                    <mat-error *ngIf="gatewayForm.get('identificador').hasError('maxLength')">
                                        Máximo 144 caracteres.
                                    </mat-error>
                                    <mat-error *ngIf="gatewayForm.get('identificador').hasError('required')">
                                        Nome é obrigatório.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxFlex=50>
                                    <!--Nome-->
                                    <mat-form-field fxFlex [floatLabel]="'always'">
                                        <mat-label>Raio (em metros)</mat-label>
                                        <input matInput id="raio" formControlName="raio" placeholder="Raio"
                                            layout-align="center end" required>
                                        <mat-error *ngIf="gatewayForm.get('raio').hasError('maxLength')">
                                            Máximo 144 caracteres.
                                        </mat-error>
                                        <mat-error *ngIf="gatewayForm.get('raio').hasError('required')">
                                            Nome é obrigatório.
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                    
    
    
                        </div>
                    </div>
                </form>
                <div id="map" class="map"></div>
            </mat-card>
        </div>
    </div>