<div fxLayout="column" fxFlex class="div-content">

        <div fxLayout="row" class="header-form">
            <span fxFlex>Consulta de Gateways</span>
            <div>
                <button mat-raised-button color="accent" (click)="navigateToNovo()">Novo Gateway</button>
            </div>
        </div>
    
        <div fxFlex>
            <mat-card class="background-color" fxFlex>
                <mat-list *ngFor="let gateway of gateways" role="list">
                    <mat-list-item class="item-list" role="listitem" fxFlex>
                        <div fxFlex (click)="selecionar(gateway.identificador)">
                            <span fxFlex>{{gateway.identificador | uppercase}}</span>
                        </div>
                        <!--<button class="button-option" (click)="selecionar(gateway.identificador)">
                            <mat-icon>edit</mat-icon>
                        </button>-->
                        <button class="button-option" (click)="remover(gateway.identificador)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-list-item>
                </mat-list>
            </mat-card>
        </div>
    </div>